h1 {
    text-align: center;
    color: blue;
    padding: 25px;
    text-decoration: underline;
}
h3{
    text-align: center;
}
h4{
    padding-bottom: 2px;
    color: green;
}
ul{
    color: blueviolet;
}
details{
    color: rgb(58, 26, 119);
}
.para1{
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 0.5px;
    border-spacing: 5px;
}
body{
    background-color: lightblue;
    padding: 0px 70px 0px 70px;
}
.link{
    text-align: center;
    cursor: pointer; 
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
marquee{
    max-width: 100%;
    color: blue;
    background-color: rgb(156, 200, 245);
}
p{
    /* border-style: solid;
    border-color: black;*/
    color: black;
    
}