h1 {
    font-size: 50px;
    text-align: center;
    color: blue;
    padding: 25px;
    text-decoration: underline;
}
h3{
    font-size: xx-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    font-style: normal ;
}
h4{
    padding-bottom: 2px;
    color: green;
}
ul{
    color: red;
}
#ul1{
    background-color: blue;
    list-style: none;
}
ul li{
    background-color: aqua;
    padding: 5px ;
    border-radius: 10px;
    margin: 10px;
    float: left;
    bottom: 10px;
    position: relative;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    color: white;
}
ul li:hover{
    background-color: brown;
}
details{
    color: rgb(58, 26, 119);
}
.para1{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 0.5px;
    border-spacing: 5px;
}
body{
    background-color: lightblue;
    padding: 0px 70px 0px 70px;
}
.link{
    text-align: center;
    cursor: pointer; 
}
#l1{
    text-align: left;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
marquee{
    max-width: 100%;
    color: blue;
    background-color: rgb(156, 200, 245);
}
p{
    /* border-style: solid;
    border-color: black;*/
    color: black;
    
}